<%- include('partials/header') %>
<%- include('partials/design.ejs') %>


<div class="jumbotron centered">
  <div class="container">
    
    <h1 class="display-3"></h1>
    
    <p class="lead">You are already registered.</p>

    <hr>
    
    

  </div>
</div>

<%- include('partials/footer') %>
